/*
  Layout is
  positioning, spacing, layouting of elements.
 */

/*   element selectors   */

body {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}
@media screen and (max-width: 600px) {
  body {
    margin: 1rem;
  }
}

body > header {
  display: flex;
}
  body > header .sitename {
    flex: 1;
    text-align: center;
  }
  body > header nav.primary {
    flex: 2;
  }
  @media screen and (max-width: 600px) {
    body > header {
      padding-bottom: var(--spacing-bigger);
    }
  }

article.latest {
  margin-bottom: 5rem;
}

blockquote {
  padding-left: var(--spacing-big);
  margin-bottom: var(--spacing-big);
}
blockquote :last-child {
  margin-bottom: 0;
}

figure {
  margin-bottom: var(--spacing-big);
  margin-right: var(--spacing-big);
  padding: var(--spacing-big);
  box-shadow: 0 0 10px lightgrey;
  display: inline-block;
}
  figure.float-right {
    float: right;
  }
@media screen and (max-width: 600px) {
  figure.float-right {
    float: none;
  }
}

footer {
  display: flex;
  padding: var(--spacing-bigger);
  margin-top: var(--spacing-bigger);
  border-top: 1px solid lightgrey;
}
  footer div {
    flex: 1;
  }

h1 {
  font-size: 2rem;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: var(--spacing-small);
}

@media screen and (max-width: 600px) {
  img {
    max-width: 90%;
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}

main {
  display: flex;
}
  aside {
    flex: 1;
    overflow: scroll;
  }
  aside > * {
    margin-bottom: var(--spacing-bigger);
    margin-right: 4rem;
    white-space: nowrap;
  }
  aside .tags:hover {
    height: auto;
  }
@media screen and (max-width: 600px) {
  aside {
    padding: var(--spacing-bigger);
    text-align: center;
  }
    aside > * {
      margin-right: 0;
    }
  main {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 900px) {
  /* Make the right sidebar disappear earlier, the space just gets tighter the narrower ... */
  aside.right {
    display: none;
  }
}

.metadata {
  margin-bottom: var(--spacing-small);
}

nav.primary {
  display: inline;
}
  nav.primary ul {
    display: inline;
    margin: 0;
  }
  nav.primary li {
    display: inline;
    margin-right: var(--spacing-bigger);
  }
  @media screen and (max-width: 600px) {
    nav.primary {
      display: none;
    }
  }

nav.breadcrumb {
  margin-bottom: var(--spacing-bigger);
}
@media screen and (max-width: 600px) {
  nav.breadcrumb {
    text-align: center;
  }
}

nav.tags ol, nav.months ol {
  margin-left: 0;
}
nav.tags header, nav.months header {
  margin-bottom: var(--spacing-small);
}

pre {
  padding: var(--spacing-big);
  margin-bottom: var(--spacing-big);
  overflow: auto; /* make the code scrollable if the width is too narrow */
}

p,
:not(li) > ul,
:not(li) > ol { /* The `:not(li) > ` prefix prevents nested lists to have a margin on the sub-levels */
  margin-bottom: var(--spacing-big);
}

@media screen and (max-width: 600px) {
  p {
    text-align: justify;
  }
}

ul, ol {
  margin-left: var(--spacing-bigger);
}

/*   other selectors   */


.content {
  flex: 3;

  /* Needed for the pre's overflow:auto to work and make the code boxes scrollable when they are too wide.
    learned it at https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size */
  min-width: 0;
}

