@import "./reset.css";
@import "./layout.css";

:root {
  --spacing-big: 1rem;
  --spacing-bigger: 2rem;
  --spacing-small: 0.3rem;
  --color-highlight: #A4131D;
  --color-highlight-rgb: 164, 19, 29;
  --color-highlight-lighter: rgba(var(--color-highlight-rgb), 0.1);
  --color-secondary: #666;
  --color-overlay: rgb(252, 232, 191);
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}
@media screen and (max-width: 600px) {
  * {
    line-break: loose;
  }
  h1, h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
    line-break: strict;
  }
  aside {
    border-top: 1px solid lightgrey;
  }
}

blockquote {
  box-shadow: 0 0 10px lightgrey;
  padding: var(--spacing-big);
}

a {
  color: var(--color-highlight);
}
  a:hover {
    color: inherit;
  }

body > header .sitename a {
  font-size: 2rem;
}

nav ol {
  list-style-type: none;
}

pre {
  background-color: var(--color-highlight-lighter);
}
p code, li code {
  background-color: var(--color-highlight-lighter);
  padding: 0.1rem 0.3rem;
}
code, pre {
  font-size: 1.1em; /* Use `em` to make all <code> relative to the element that it contains, e.g. an H1. */
}
h1 code, h2 code, h3 code, h4 code, h5 code {
  background-color: var(--color-highlight-lighter);
}

figcaption {
  font-style: italic;
}

td {
  padding: 0.5rem;
  background-color: lightgrey;
}

.metadata {
  color: var(--color-secondary);
}

footer {
  border-top: 1px solid lightgrey;
}

kbd {
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  padding: 0.1rem var(--spacing-small);
  white-space: nowrap;
}

.isDraft h1,
.isDraft h2,
.isDraft h2 a
{
  color: #666;
}

/*    styling the secondary nav    */

nav.secondary {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: var(--spacing-big);
  background-color: var(--color-overlay);
}
  nav.secondary ul {
    height: 0;
    width: var(--spacing-big);
    margin: 0;
    transition: width 0.5s, height 0.5s, opacity 1s; /* transition when the mouse leave */
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  nav.secondary:hover ul {
    padding: var(--spacing-bigger); /* move the clickable first menu item out of focus when clicking on the menu-button (hamburger icon) */
    height: 11rem;
    width: 8rem;
    transition: height 0.5s, opacity 0s; /* transition when the mouse enter */
    transition-delay: 0.2s; /* allows the width to jump to full width first */
    opacity: 1;
  }
  nav.secondary:hover .menu-button {
    visibility: hidden;
  }
  nav.secondary ul li {
    list-style: none;
    padding: 0.2rem;
    text-align: center;
    flex: 1;
    font-size: 1.5rem;
  }
  nav.secondary ul li a.highlight {
    color: #E8944B;
  }

  @media screen and (max-width: 600px) {
    nav.secondary {
      left: 0;
      top: 0;
      margin: 0;
      bottom: auto;
      right: auto;
    }
  }
